.backcolor {
    background-image: url(0.png);
 background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;

}
.cmdcolor {
    background-image: url(cmd1.png);
 background-position-x: center;
 background-position-y: 60px;
    background-repeat: no-repeat;
 background-size: 1530px;
    background-attachment: local;

}
.cmdserver {
    background-image: url(cmdserver.png);
 background-position-x: center;
 background-position-y: 60px;
    background-repeat: no-repeat;
 background-size: 1530px;
    background-attachment: local;

}
.botbackcolor {
    background-image: url(poscolor.png);
background-position-y: 30px;
       background-attachment: local;
       

}
.projectsbackcolor {
    background-image: url(other.png);
background-position-y: 60px;
background-position-x: center;
background-size: 20;
       background-attachment: local;
       

}
* {
    margin: 0;
    padding: 10;
    color: white;
}
.botnav{
    width: 100%;
    height: 80px;
    background-color: white;
   
}

.bruh {
    list-style: none;
    display: inline-block;
    
    line-height: 76px;
    text-decoration: none;
     font-size: 35px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: black;
     padding-right: 30px;
     padding-left: 30px;
}
ul li a {
     text-decoration: none;
     font-size: 35px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: black;
     padding-right: 30px;
     padding-left: 30px;
     
}
.scrollers {
    width: 100%;
    height: 2105px;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-width: thin;
}
.cmdscrollers {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-width: thin;
}
.botscrollers {
    width: 100%;
    height: 780px;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-width: thin;
}
.lib{
    position: initial;
    text-decoration: underline none;
    padding-top:1824px;
    
    color: white;
    font-size: 50px;
  
}
.JDB{
    padding-left: 37%;
}
html{
    width: 400px;
    margin: 0px;
}
.botpages{
    width: 100%;
    display: inline-block;
    
}
.projectpages{
    width: 100%;
    display: inline-block;
    
}
.shrek{
  width: 380px;
  height: 340px;
  padding-left: 7%;
  padding-top: 175px;
  
}
.count{
    width: 200px;
    height: 200px;
    padding-left: 100px;
    padding-top: 120px;
    
  }
.newsimg{
    width:380px;
    height:340px;
    padding-left: 1%;
}
.cmdlink{
    padding-left: 16px;
    padding-top: 80px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.servcmd{
   
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cmdfun{
    background-image: url(cmdfun.png);
 background-position-x: center;
 background-position-y: 60px;
    background-repeat: no-repeat;
 background-size: 1530px;
    background-attachment: local;
}
.bugbackcolor{
    background-image: url(bugreport.png);
 background-position-x: center;
 background-position-y: 65px;
    background-repeat: no-repeat;
 background-size: 1420px;
    background-attachment: local;
}
.yeman{

    padding-top: 30px;
    padding-left: 35px;
}
.yeman2{
    padding-top:10px;
    padding-left:10px;
}
.yeman3{
    padding-top: 30px;
    
}
.yeman4{
    padding-top: 10px;
    padding-left: 35px;
}
.fiximg{
    width: 10px;
    height: 10px;
}
.invitecmd{
    text-decoration: underline;
    padding-top: 200px;
    padding-left: 490px;
    font-size: 50px;
}
@media screen and (max-width:399px){
 .backcolor{
     background-position-y: 1.51%;
     
     
 }
}